@page
@model LAWebApplication.Pages.IndexModel

@{
    ViewData["Title"] = "GESTIÓN LEARNING AGREEMENT";
}

<div style="padding-left: 92px;">
    <h1>LOG IN</h1>
</div>

<p> </p>
<div style="padding-left: 71px;">
    <label for="Id">ID:</label>
    <input type="text" id="Id" name="Id" />
</div>

<p> </p>


<div style="padding-left: 92px;" id="incorrectLabel">Incorrect user or password!</div>

<p> </p>

<div style ="padding-left: 20px;">
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" />
</div>

<p> </p>

<div style="padding-left: 195px;">
    <label for="miToggle">Incoming</label>
    <input type="checkbox" id="miToggle">
</div>

<p> </p>

<div style="padding-left: 176px;">
    <input type="button" id="loginButton" value="Iniciar sesión" />
</div>
