@page
@model LAWebApplication.Pages.IndexModel

@{
    ViewData["Title"] = "GESTIÓN LEARNING AGREEMENT";
}

<h1>LOG IN</h1>


<div>
    <label for="Id">ID:</label>
    <input type="text" id="Id" name="Id" />
</div>

<div>
    @Html.Raw(ViewBag.MensajeError)
</div>

<div>
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" />
</div>


<div>
    <input type="button" value="Iniciar sesión" />
</div>
