@page
@model LAWebApplication.Pages.IndexModel

@{
    ViewData["Title"] = "GESTIÓN LEARNING AGREEMENT";
}

<div style="padding-left: 20px;">
    <h1>LOG IN</h1>
</div>

<p> </p>
<div style="padding-left: 71px;">
    <label for="Id">ID:</label>
    <input type="text" id="Id" name="Id" />
</div>

<p> </p>



<p> </p>

<div style ="padding-left: 20px;">
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" />
</div>

<p> </p>

<div style="padding-left: 210px;">
    <input type="button" value="Iniciar sesión" />
</div>
